.subscribe-block {
    margin-left: 30px;
}

.subscribe {
    display: flex;
    align-items: center;
    gap: 12px;
}

.subscribe__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.subscribe__field {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    padding: 15px 16px;
    font-size: 16px;
    line-height: 1.2;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: 1px solid transparent;

    transition: outline var(--animation);
}

.subscribe__btn {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    min-width: 200px;
    height: 50px;
    color: #FFFFFF;
    background: var(--accent-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
&:hover,
&:focus {
    background: #188CE8;
}
}

.subscribe__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}