body {
    font-family: 'Roboto', 'Times New Roman', 'Verdana', 'Tahoma', sans-serif;
    background-color: #FFFFFF;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
.features__list,
.works__list,
.team__list,
.clients__list {
    display: flex;
    gap: 30px;
}